body{
    background-image: url(./images/high_school.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.row{
    margin-top: 10% !important;
}

.container{
    margin-top: 200px;
}




